# Project exclude paths
/walblog-admin/target/
/walblog-blog/target/
/walblog-framework/target/
### Example user template template
### Example user template

**/target/
**/.settings/
**/.classpath
**/.checkstyle
**/.project
**/.*.swp
*.DS_Store*
**/test-output/
**/.metadata/
.recommenders/
**/.springBeans
**/.factorypath
.idea/
*.iml
/bin/
**/bin/
**/.mvn/
.gitignore
